/* *************PALETA DE COLORES************* */
:root {
    /* primario #39b3e6
    segundario #353535 */
    --colorITJM--primario: rgb(57 179 230);
    --colorITJM--segundario: rgb(53 53 53);
    --colorITJM--blanco: rgb(255, 255, 255);
    --colorITJM--negro: rgb(0, 0, 0);
    /* TRANSICIONES*/
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    height: 100%;
}

/******************PALETA DE COLORES***************************/


/******************BACKGROUNDO FONDO******************/

.bg-c-pri {
    background-color: var(--colorITJM--primario);
}

.bg-c-se {
    background-color: var(--colorITJM--segundario);
}

.bg-c-bla {
    background-color: var(--colorITJM--blanco);
}

.bg-c-ne {
    background-color: var(--colorITJM--negro);
}


/******************BACKGROUNDO FONDO******************/


/***************************COLOR***************************/

.co-pri {
    color: var(--colorITJM--primario);
}

.co-se {
    color: var(--colorITJM--segundario);
}

.co-bla {
    color: var(--colorITJM--blanco);
}

.co-ne {
    color: var(--colorITJM--negro);
}


/***************************COLOR***************************/


/*****************************HOVER****************************/

.co-ho-pri {
    color: var(--colorITJM--primario);
}

.co-ho-se {
    color: var(--colorITJM--segundario);
}

.co-ho-bla {
    color: var(--colorITJM--blanco);
}
.co-ho-bla-pri {
    color: var(--colorITJM--blanco);
}

.co-ho-ne {
    color: var(--colorITJM--negro);
}


/**************************SUS HOVER**************************/

.co-ho-pri:hover {
    color: var(--colorITJM--segundario);
}

.co-ho-se:hover {
    color: var(--colorITJM--primario);
}

.co-ho-bla:hover {
    color: var(--colorITJM--negro);
}
.co-ho-bla-pri:hover {
    color: var(--colorITJM--primario);
}

.co-ne:hover {
    color: var(--colorITJM--blanco);
}

/**********************HOVER*********************/
/***FORMULARIO DE REGISTRO Y INGRESO****/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

}


.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control:focus {
    color: var(--colorITJM--segundario);
    background-color: var(--colorITJM--blanco);
    border-color: var(--colorITJM--primario);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--colorITJM--primario);
}

.form-control:hover {
    cursor: pointer;
}

/***************NAVBAR**********************/
.contenedor-navbar {
    background-color: var(--colorITJM--primario);
    flex-wrap: wrap;
    box-shadow: -1px 1px 3px 1px var(--colorITJM--segundario);
}

.item-logo-nombre-navbar {
    flex-wrap: wrap;
    flex: 3 3 auto;
}

@media only screen and (max-width: 600px) {
    .contenedor-navbar {

        justify-content: center;
    }

    .nombre-itjm {
        text-align: center;
    }
}

/***************NAVBAR **********************/

/****************************SIDEBAR *******************************/
.sidebar {

    position: fixed;
    top: 50px;
    left: 0px;
    height: 100%;
    width: 250px;
    padding: 12px 12px;
    background: var(--colorITJM--primario);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 84px;


}

.sidebar .sideli {
    height: 3.2vw;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
 

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

/**TEXTO**/
.sidebar .text,
.sidebar .icon {
    color: var(--colorITJM--negro);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .sideheader {
    position: relative;
    top: 40px;
}

.sidebar .sideheader .toggle {
    position: absolute;
    top: 70%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background-color: var(--colorITJM--segundario);
    color: var(--colorITJM--blanco);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

/* .sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
} */

.sidebar .menu {
    margin-top: 5px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
/*hover*/
.sidebar li a:hover {
    background-color: var(--colorITJM--segundario);
    opacity:0.9;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--colorITJM--blanco);
}

.sidebar .sidemenu {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.sidemenu::-webkit-scrollbar {
    display: none;
}

.activo{
    background-color: var(--colorITJM--segundario);
    border-radius: 6px;
}
.activo .text{
    color: var(--colorITJM--blanco);
}
.activo .icon{
    color: var(--colorITJM--blanco);
}

/****************************SIDEBAR *******************************/

/*****************************CONTENIDO******************************/
.contenido {

    position: relative;
    right: 0;
    top: 0;
    left: 250px;
    /* height: 100vh; barra navegacion izq  */
    width: calc(100% - 250px);
    background-color: var(--colorITJM--blanco);
    transition: var(--tran-05);


}

.contenido .text {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 12px 12px 12px;

}

.sidebar.close~.contenido {
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}

.sideul {
    padding: 0;
    margin: 0;
}


/*****************************CONTENIDO******************************/
/*******************  HOME PRINCIPAL **************************/

.home {
    gap: 15px;
    padding: 0 0 70px 0;
    flex-direction: row;
}

.estudiante,
.administrativo {
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
}

.estu,
.admi {
    text-decoration: none;
    color: var(--colorITJM--negro);
}
span .admi{
    text-decoration: none;
}

.estu,
.admi:hover {
    color: var(--colorITJM--negro);
}

.estu:hover {
    color: var(--colorITJM--negro);
}

.estudiante:hover {
    background-color: var(--colorITJM--primario);
    animation: AnimHome 1s ease 0s 1 normal forwards;

}

.administrativo:hover {
    background-color: var(--colorITJM--primario);
    animation: AnimHome 1s ease 0s 1 normal forwards;
}

.logo-login {
    padding: 0 15px 0 0;
}

@keyframes AnimHome {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .estu,
    .admi {
        font-size: 12px;
    }

    .estudiante,
    .administrativo {

        width: 150px;
        height: 70px;
    }

}

/*******************  HOME PRINCIPAL **************************/
/*******************  FOOTER **************************/
.footer{
    position:fixed;
    top: 97.34%;
    left: 50%;
    transform:translate(-50%,-50%)
}
/*******************  FOOTER **************************/