:root {
    --colorITJM--primario: rgb(57 179 230);
    --colorITJM--segundario: rgb(53 53 53);
}

body {
    height: 100%;
}


/*color ITJM*/

.ba-itjm {
    background-color: rgb(255, 255, 255);
}

.cob-itjm {
    color: var(--colorITJM--segundario);
}

.cow-itjm {
    color: rgb(255, 255, 255);
}

.cow-itjm:hover {
    color: #39b3e6;
}


/***************/


/***formulario ingreso y registro****/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btningreso {
    color: var(--colorITJM--segundario);
    background-color: var(--colorITJM--primario);
}

.itjm {
    color: rgb(247, 247, 247);
    background-color: var(--colorITJM--primario);
    display: flex;
    align-items: center;
}


/*****************/

.itjm:hover {
    color: var(--colorITJM--segundario);
    transition: none;
}

.form-control:focus {
    color: var(--colorITJM--segundario);
    background-color: #ffffff;
    border-color: var(--colorITJM--primario);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--colorITJM--primario);
}